main {
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
  }

  .holiday-row {
    background-color: rgb(255, 105, 105);
  }

  .dayOfDay-row {
    background-color: rgb(255, 255, 121);
  }

  .national-holiday-row {
    background-color: rgb(200, 162, 255);
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  input {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
  }

  label {
    margin-right: 10px;
    font-size: 14px;
  }

  .centered-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 2px;
  }

  .name-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .name-inputs label {
    margin-right: 10px;
  }

  .name-inputs input {
    margin-right: 10px;
    flex: 1 1 100px;
    min-width: 100px;
    max-width: 200px;
  }

  @media (max-width: 768px) {
    .name-inputs {
      flex-direction: column;
      text-align: left;
      margin-right: 15px;
    }
    .name-inputs input {
      flex: 1 1 1px;
      max-width: 200px;
    }
  }

  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .table-container {
    max-height: 80vh;
    overflow-y: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }